<div class="add-vacancy"  ng-controller="addVacancyCtrl">
    <div class="top-nav-container">
        <h2 class="h2">Вакансії</h2>
    </div>
    <div class="form-container ">
        <div class="clearfix"><a class="close" ui-sref="home.vacancies.list"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
        <form class="form-horizontal admin-form" name="form" role="form" ng-submit="addVacancy()"  id="formValidate">
            <div class="form-group text-left">
                <label for="inputJobPosition" class="col-sm-3   control-label">Позиція</label>
                <div class="col-sm-9">
                    <span class="arrow"></span>
                    <select id="inputJobPosition" name="jobPosition" ng-model="vacancy.jobPositionId"  class="form-control" required>
                        <option value="">none</option>
                        <option ng-repeat="jobPosition in jobPositions" ng-selected="vacancy.jobPositionId" ng-value="jobPosition.id">{{jobPosition.jobName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputProject" class="col-sm-3  control-label">Проект</label>
                <div class="col-sm-9">
                    <span class="arrow"></span>
                    <select id="inputProject" name="projectName" ng-model="vacancy.projectId"   class="form-control" required>
                        <option value="">none</option>
                        <option ng-repeat="project in projects"  ng-selected="vacancy.projectId" value="project.id">{{project.projectName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">Опис вакансії</label>
                <div class="col-sm-9">
                    <trix-editor  angular-trix  ng-model="vacancy.description" class="trix-content"></trix-editor>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmployment" class="col-sm-3  control-label">Зайнятість</label>
                <div class="col-sm-9">
                    <span class="arrow"></span>
                    <select id="inputEmployment" name="busyHour" ng-model="newVacancy.busyHour"   class="form-control" required>
                        <option value="">none</option>
                        <option value="Front-end Developer">full time</option>
                        <option value="Front-end Developer">part time</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputInfo" class="col-sm-3  control-label">Дод.інф-ція</label>
                <div class="col-sm-9">
                    <input   type="text" name="addDescription" ng-model="vacancy.addDescription"   class="form-control" id="inputInfo" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputStartDate" class="col-sm-3  control-label">Дата публікації</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input id="inputStartDate" type="text" name="date" ng-model="vacancy.dateRegist" class="form-control" uib-datepicker-popup   is-open="popup.opened"
                               close-text="Close"   ng-required="true"/>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-calendar" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    <div role="alert">
                        <span   class="error" ng-show="portfolioForm.$submitted || portfolioForm.date.$touched">
                            <span  ng-show="portfolioForm.date.$error.required">Це поле є обов'язкове</span>
                        </span>
                    </div>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit"  id="sendBtn" class="btn btn-primary btn-save">Опублікувати</button>
                </div>
            </div>
        </form>
    </div>
</div>


