<nav class="navbar navbar-default"  role="navigation" >
	<div class="navbar-header  navbar-fixed-top">
		<div class="brand-sect">
		<h1><span class="navbar-brand"></span></h1>
	</div>
		<button type="button" type="button" class="navbar-toggle" ng-init="isNavCollapsed=false" ng-click="isNavCollapsed = !isNavCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="account navbar-right">
			<div class="user">
				<span class="user-name" ng-bind="vm.currentUser.username"></span>
				<a class="logout-btn" ng-click="vm.logout()">log out</a>
			</div>
			<div class="photo">
				<img  ng-src="{{vm.currentUser.avatar}}" alt="">
			</div>
		</div>
	</div>

	<div class="navbar-default sidebar"  >
		<div class="sidebar-nav navbar-collapse collapse" uib-collapse="isNavCollapsed" >
			<uib-accordion close-others="true" template-url="app/shared/sidebar/menu.tmpl.html">
				<li  uib-accordion-group  ng-repeat="item in vm.menu" ng-class="{'active': isOpen}" is-open="isOpen"  template-url="app/shared/sidebar/submenu.tmpl.html">
					<uib-accordion-heading >
						<div ng-click="vm.goTo(item.state)">
							<span class="{{item.class}}"></span>
							<span >{{item.title}}</span>
							<span ng-if="!(item.submenu.length <= 0)" class="arrow"></span>
						</div>
					</uib-accordion-heading>
					<ul class="nav nav-second">
						<li ng-class="{'active': vm.isActive(sub.state)}" ng-repeat="sub in item.submenu"><a ng-click="vm.goTo(sub.state)"><span>{{sub.title}}</span></a></li>
					</ul>
				</li>
			</uib-accordion>
		</div>
	</div>
</nav>
