<div class="add-vacancy" ng-app="addVacancyModule" ng-controller="addVacancyCtrl">
    <h1 class="title text-center">Вакансія</h1>
    <div class="form-container">
        <form class="form-horizontal" name="form" role="form" ng-submit="addVacancy()"  id="formValidate">
            <div class="form-group text-left">
                <label for="inputJobPosition" class="col-sm-3   control-label">Позиція</label>
                <div class="col-sm-9">
                    <span class="arrow"></span>
                    <select id="inputJobPosition" name="jobPosition" ng-model="newVacancy.jobPosition"  class="form-control" required>
                        <option value="">none</option>
                        <option ng-repeat="jobPosition in jobPositions" value="jobPosition.id">{{jobPosition.jobName}}</option>
                     
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputProject" class="col-sm-3  control-label">Проект</label>
                <div class="col-sm-9">
                    <span class="arrow"></span>
                    <select id="inputProject" name="projectName" ng-model="newVacancy.projectName"   class="form-control" required>
                        <option value="">none</option>
                        <option ng-repeat="project in projects" value="project.id">{{project.projectName}}</option>
                       
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">Опис вакансії</label>
                <div class="col-sm-9">
                    <trix-editor  angular-trix  ng-model="newVacancy.description" class="trix-content"  ></trix-editor>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmployment" class="col-sm-3  control-label">Зайнятість</label>
                <div class="col-sm-9">
                    <span class="arrow"></span>
                    <select id="inputEmployment" name="busyHour" ng-model="newVacancy.busyHour"   class="form-control" required>
                        <option value="">none</option>
                        <option value="Front-end Developer">full time</option>
                        <option value="Front-end Developer">part time</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputInfo" class="col-sm-3  control-label">Дод.інф-ція</label>
                <div class="col-sm-9">
                    <input   type="text" name="addDescription" ng-model="newVacancy.addDescription"   class="form-control" id="inputInfo" required>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit"  id="sendBtn" class="btn btn-primary btn-save">Опублікувати</button>
                </div>
            </div>
        </form>
    </div>
</div>


