<div class="flex-container">
    <h1><span class="navbar-brand"></span></h1>
    <div class="form-block">
        <!--<div ng-class="{ 'alert': vm.loginStatus, 'alert-success': vm.loginStatus.type == 'auth-login-success', 'alert-danger': vm.loginStatus.type === 'auth-login-failed' }" ng-if="vm.loginStatus" ng-bind="vm.loginStatus.message"></div>-->
        <h2>Hi! Please sign in)</h2>
        <form name="loginForm"   ng-submit="vm.login(credentials)" role="form" novalidate >
            <div class="form-group" ng-class="{ 'has-error': form.login.$submit && form.login.$error.required }">
                <span class="smile-icon icon"></span>
                <input type="text" name="login" id="login" class="form-control" ng-model="vm.credentials.login"  placeholder="login" />
                <!--<span ng-show="form.login.$submit && form.login.$error.required" class="help-block">Це поле обов'язкове</span>-->
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$submit && form.password.$error.required }">
                <span class="lock-icon icon"></span>
                <input type="password" name="password" id="password" class="form-control"  placeholder="password" ng-model="vm.credentials.password" />
                <!--<span ng-show="form.password.$submit && form.password.$error.required" class="help-block">Це поле обов'язкове</span>-->
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="false" class="btn btn-primary btn-login">Увійти</button>
                <!--<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
            </div>
        </form>
    </div>
</div>

