<div class="add-vacancy" ng-app="" ng-controller="">
    <h1 class="title text-center">Портфоліо</h1>
    <div class="form-container">
        <form class="form-horizontal" name="form" role="form" ng-submit="addVacancy()"  id="formValidate">
            <div class="form-group text-left">
                <label for="inputJobPosition" class="col-sm-3">Назва проекту</label>
                <div class="col-sm-9">
                    <!--<span class="arrow"></span>-->
                    <input type="text" id="projectsName" class="form-control">
                    <!--<select id="inputJobPosition" name="jobPosition" ng-model="newVacancy.jobPosition"  class="form-control" required>
                        <option value="">none</option>
                        <option value="Front-end Developer">Front-end Developer1</option>
                        <option value="Front-end Developer">Front-end Developer2</option>
                        <option value="Front-end Developer">Front-end Developer3</option>
                        <option value="Front-end Developer">Front-end Developer4</option>
                    </select>-->
                </div>
            </div>
            <div class="form-group">
                <label for="inputProject" class="col-sm-3  control-label">Клієнт</label>
                <div class="col-sm-9">
                    <!--<span class="arrow"></span>-->
                    <input type="text" id="inputProject" class="form-control">
                    <!--<select id="inputProject" name="projectName" ng-model="newVacancy.projectName"   class="form-control" required>
                        <option value="">none</option>
                        <option value="CRM">CRM</option>
                        <option value="CRM">CRM</option>
                        <option value="CRM">CRM</option>
                        <option value="CRM">CRM</option>
                    </select>-->
                </div>
            </div>
            <div class="form-group">
                <label for="sth" class="col-sm-3">Лого проекту</label>
                <div class="col-sm-9">
                    <!--<span class="arrow"></span>-->
                    <input type="text" id="inputImg" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label  class="col-sm-3 control-label">Опис</label>
                <div class="col-sm-9">
                    <trix-editor  angular-trix  ng-model="newVacancy.description" class="trix-content"  ></trix-editor>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmployment" class="col-sm-3  control-label">Посилання</label>
                <div class="col-sm-3 formka">
                    <span class="arrow"></span>
                    <input type="text" class="form-control col-sm-3 col-md-3">
                    <!--<div class="col-md-3"><span class="addLogo"><img src="" alt="">+</span></div>-->
                    <!--<select id="inputEmployment" name="busyHour" ng-model="newVacancy.busyHour"   class="form-control" required>
                        <option value="">none</option>
                        <option value="Front-end Developer">full time</option>
                        <option value="Front-end Developer">part time</option>
                    </select>-->
                </div>
            </div>
            <div class="form-group">
                <label for="inputInfo" class="col-sm-3  control-label">Галерея</label>
                <div class="col-sm-9">
                    <div class="col-md-3"><span class="addLogo"><!--<img src="" alt="">-->+</span></div>
                    <div class="col-md-3"><span class="addLogo"><!--<img src="" alt="">-->+</span></div>
                    <div class="col-md-3"><span class="addLogo"><!--<img src="" alt="">-->+</span></div>
                    <div class="col-md-3"><span class="addLogo"><!--<img src="" alt="">-->+</span></div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit"  id="sendBtn" class="btn btn-primary btn-save">Зберегти чорновик</button>
                </div>
            </div>
        </form>
    </div>
</div>