<nav class="navbar navbar-default"  role="navigation" >
	<div class="navbar-header  navbar-fixed-top">
		<div class="brand-sect">
		<h1><span class="navbar-brand"></span></h1>
	</div>
		<button type="button" type="button" class="navbar-toggle" ng-init="isNavCollapsed=true" ng-click="isNavCollapsed = !isNavCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="account navbar-right">
			<div class="user">
				<span class="user-name" ng-bind="$parent.currentUser.userName"></span>
				<a class="logout-btn" ng-click="vm.logout()">log out</a>
			</div>
			<div class="photo">
				<img  ng-src="{{$parent.currentUser.avatar}}" alt="">
			</div>
		</div>
	</div>


	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="navbar-default sidebar"  >
		<div class="sidebar-nav navbar-collapse collapse" uib-collapse="isNavCollapsed" >
				<ul class="nav nav-main" >
					<li>
						<a ui-sref="home"  ng-click="isInternshipOpen=true; isDevStudioOpen=true; isUsersOpen=true">
							<span class="icon home-icon"></span>
							<span>Home</span>
						</a>
					</li>
					<li ng-class='{"active": !isDevStudioOpen}'>
							<a   ng-init="isDevStudioOpen= !(vm.isActiveState('devportfolio') || vm.isActiveState('ordercustomer') || vm.isActiveState('vacancies'))" ng-click="isDevStudioOpen=!isDevStudioOpen; isInternshipOpen=true; isUsersOpen=true">
								<span class="icon dev-studio-icon"></span>
								<span>Dev Studio</span>
								<span class="arrow"></span>
							</a>
							<ul class="nav nav-second"  uib-collapse="isDevStudioOpen">
								<li ng-class="{'active': vm.isActiveState('devportfolio')}" ><a  ui-sref=".devportfolio.list"><span>Портфоліо</span></a></li>
								<li ng-class="{'active': vm.isActiveState('ordercustomer')}" ><a  ui-sref=".ordercustomer.list"><span>Заявки клієнтів</span></a></li>
								<li ng-class="{'active': (vm.isActiveState('vacancies/list') || vm.isActiveState('vacancies/edit') || vm.isActiveState('vacancies/add') )}"><a  ui-sref=".vacancies.list"><span>Вакансії</span></a></li>
								<li ng-class="{'active': vm.isActiveState('vacancies/feedback')}"><a  ui-sref=".vacancies.feedback"><span>Відгуки на вакансії</span></a></li>
							</ul>
					</li>
					<li ng-class='{"active": !isInternshipOpen}'>
						<a ng-init="isInternshipOpen= !(vm.isActiveState('internship') || vm.isActiveState('reviews'))" ng-click="isInternshipOpen=!isInternshipOpen; isDevStudioOpen=true; isUsersOpen=true">
							<span class="icon internship-icon"></span>
							<span>Internship</span>
							<span class="arrow"></span>
						</a>
						<ul class="nav nav-second"  uib-collapse="isInternshipOpen">
							<li ng-class="{'active': vm.isActiveState('internship')}"><a ui-sref=".intportfolio.list"><span>Портфоліо</span></a></li>
							<li ng-class="{'active': vm.isActiveState('reviews')}"><a ui-sref=".reviews.list"><span>Відгуки</span></a></li>
						</ul>
					</li>
					<li ng-class='{"active": !isUsersOpen}'>
						<a  ui-sref="home.users.list" ng-init="isUsersOpen=true" ng-click="isUsersOpen=!isUsersOpen; isDevStudioOpen=true; isInternshipOpen=true">
							<span class="icon users-icon"></span>
							<span>Users</span>
							<span class="arrow"></span>
						</a>
					</li>
					<li >
						<a  ui-sref="home.dictionares" >
							<span class="icon dictionares-icon"></span>
							<span>Dictionaries</span>
							<span class="arrow"></span>
						</a>
					</li>
				</ul>
		</div>
	</div>
</nav>
