<nav class="navbar navbar-default" ng-controller="SidebarController"  role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header  navbar-fixed-top">
		<div class="brand-sect">
		<h1><span class="navbar-brand"></span></h1>
	</div>
		<button type="button" type="button" class="navbar-toggle" ng-init="isNavCollapsed=true" ng-click="isNavCollapsed = !isNavCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="account navbar-right">
			<span class="user-name" ng-bind="currentUser.userName"></span>
			<div class="photo">
				<img ng-src="{{currentUser.avatar}}" alt="">
			</div>
		</div>
	</div>


	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="navbar-default sidebar"  >
		<div class="sidebar-nav navbar-collapse collapse" uib-collapse="isNavCollapsed" >
				<ul class="nav nav-main" >
					<li>
						<a ui-sref="home"  ng-click="isInternshipOpen=true; isDevStudioOpen=true; isUsersOpen=true">
							<span class="icon home-icon"></span>
							<span>Home</span>
						</a>
					</li>
					<li ng-class='{"active": !isDevStudioOpen}'>
							<a   ng-init="isDevStudioOpen=true" ng-click="isDevStudioOpen=!isDevStudioOpen; isInternshipOpen=true; isUsersOpen=true">
								<span class="icon dev-studio-icon"></span>
								<span>Dev Studio</span>
								<span class="arrow"></span>
							</a>
							<ul class="nav nav-second"  uib-collapse="isDevStudioOpen">
								<li ng-class="{ 'active': isActive('/devportfolio')}" ><a  ui-sref=".devportfolio.list"><span>Портфоліо</span></a></li>
								<li ng-class="{ 'active': isActive('/ordercustomer')}"><a  ui-sref=".ordercustomer.list"><span>Заявки клієнтів</span></a></li>
								<li ng-class="{ 'active': isActive('/vacancies')}"><a  ui-sref=".vacancies.list"><span>Вакансії</span></a></li>
								<li ng-class="{ 'active': isActive('/review')}"><a  ui-sref=".vacancies.review"><span>Відгуки на вакансії</span></a></li>
							</ul>
					</li>
					<li ng-class='{"active": !isInternshipOpen}'>
						<a ng-init="isInternshipOpen=true" ng-click="isInternshipOpen=!isInternshipOpen; isDevStudioOpen=true; isUsersOpen=true">
							<span class="icon internship-icon"></span>
							<span>Internship</span>
							<span class="arrow"></span>
						</a>
						<ul class="nav nav-second"  uib-collapse="isInternshipOpen">
							<li ng-class="{ 'active': isActive('/internship-portfolio')}"><a ui-sref=".intportfolio.list"><span>Портфоліо</span></a></li>
							<li ng-class="{ 'active': isActive('/reviews')}"><a ui-sref=".reviews.list"><span>Відгуки</span></a></li>
							<li ng-class="{ 'active': isActive('/training')}"><a ui-sref=".training"><span>Навчальна частина</span></a>
							</li>
						</ul>
					</li>
					<li ng-class='{"active": !isUsersOpen}'>
						<a  ui-sref="home.users.list" ng-init="isUsersOpen=true" ng-click="isUsersOpen=!isUsersOpen; isDevStudioOpen=true; isInternshipOpen=true">
							<span class="icon users-icon"></span>
							<span>Users</span>
							<span class="arrow"></span>
						</a>
						<!--<ul class="nav nav-second"  uib-collapse="isUsersOpen">
							<li ng-class="{ 'active': isActive('/users')}"><a><span>Користувачі</span></a></li>
							<li ng-class="{ 'active': isActive('/reviews')}"><a ui-sref=".reviews.list"><span>Відгуки</span></a></li>
							<li ng-class="{ 'active': isActive('/training')}"><a ui-sref=".training"><span>Навчальна частина</span></a>
							</li>
						</ul>-->
					</li>
				</ul>
		</div>
	</div>
</nav>
