<div>
    <div class="top-nav-container">
        <h2 class="h2">Портфоліо</h2>
        <ul class="nav navbar-nav navbar-right">
			<li>
				<a ui-sref="home.devportfolio.list" tooltip-placement="bottom" uib-tooltip="повернутися до списку проектів" tooltip-trigger="focus"><span  class="glyphicon glyphicon-arrow-left"></span></a>
			</li>
		</ul>
    </div>
    <div ng-if="vm.dataLoading" class="loader"></div>
    <div class="form-container ">
        <form class="form-horizontal admin-form"  enctype="multipart/form-data"  name="portfolioForm" role="form"  novalidate>
            <div class="form-group ">
                <input   type="hidden" name="id"  ng-model="vm.project.id"   id="inpuId">
            </div>
            <!--ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }-->
            <div class="form-group"> 
                <label for="inputName" class="col-sm-3   control-label">Назва*</label>
                <div class="col-sm-9">
                    <input  id="inputName"  type="text" name="name" class="form-control"  ng-model="vm.project.name"   ng-maxlength="50" ng-required="true">
                    <div class="error" ng-if="portfolioForm.$submitted || portfolioForm.name.$touched" ng-messages="portfolioForm.name.$error" role="alert">
                        <div ng-messages-include="app/shared/messages/messages.tmpl.html" ></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCustomer" class="col-sm-3  control-label">Клієнт*</label>
                <div class="col-sm-9">
                    <input  id="inputCustomer"  type="text" name="customer" class="form-control"   ng-model="vm.project.customer"  ng-maxlength="60" ng-required="true">
                    <div class="error" ng-if="portfolioForm.$submitted || portfolioForm.customer.$touched" ng-messages="portfolioForm.customer.$error" role="alert">
                        <div ng-messages-include="app/shared/messages/messages.tmpl.html" ></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPreviewImg" class="col-sm-3  control-label">Зображення сайту*</label>
                <div class="col-sm-9">
                    <input id="inputPreviewImg" type="file" name="previewImg" class="file"  ng-model="vm.previewImg"  ngf-select 
                        ngf-pattern="image/*" ngf-max-size="2Mb"  ngf-model-invalid="errorFile" ng-required="true">
                    <span class="custom-file-control" >{{vm.previewImg? vm.previewImg.name: "Завантажити фото" }}</span>
                    <div  class="img-container" ngf-background="vm.previewImg"></div>
                    <div class="error" ng-if="portfolioForm.$submitted || portfolioForm.$change  || portfolioForm.previewImg.$touched" ng-messages="portfolioForm.previewImg.$error" 
                        ng-messages-multiple  role="alert">
                        <div ng-messages-include="app/shared/messages/messages.tmpl.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputMainImg" class="col-sm-3  control-label">Зображення сторінки*</label>
                <div class="col-sm-9">
                    <input  id="inputMainImg" type="file" name="mainImg" class="file"  ng-model="vm.mainImg"  ngf-select  
                         ngf-pattern="image/*" ngf-max-size="2Mb"  ngf-model-invalid="errorFile" ng-required="true">
                    <span class="custom-file-control" >{{vm.mainImg ? vm.mainImg.name : "Завантажити фото" }}</span>
                    <div   class="img-container" ngf-background="vm.mainImg"></div>
                    <div class="error" ng-if="portfolioForm.$submitted || portfolioForm.$change  || portfolioForm.mainImg.$touched" ng-messages="portfolioForm.mainImg.$error" 
                         ng-messages-multiple role="alert">
                        <div ng-messages-include="app/shared/messages/messages.tmpl.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">Опис*</label>
                <div class="col-sm-9">
                    <trix-editor  name="description" class="trix-content"  angular-trix ng-model="vm.project.description"  ng-maxlength="250" ng-required="true"></trix-editor>
                    <div class="error" ng-if="portfolioForm.$submitted || portfolioForm.cusdescriptiontomer.$touched" ng-messages="portfolioForm.description.$error" role="alert">
                        <div ng-messages-include="app/shared/messages/messages.tmpl.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputStartDate" class="col-sm-3  control-label">Дата початку*</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input id="inputStartDate"  type="text" name="dateStart"   class="form-control"  uib-datepicker-popup="{{vm.format}}" 
                                ng-model="vm.project.dateStart"  uib-datepicker-popup   is-open="vm.popup2.opened" datepicker-options="vm.dateOptions"
                                close-text="Закрити" clear-text="Очистити" current-text="Сьогодні"   ng-required="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-calendar" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <div class="error" ng-if="portfolioForm.$submitted || portfolioForm.dateStart.$touched" ng-messages="portfolioForm.dateStart.$error" role="alert">
                            <div ng-messages-include="app/shared/messages/messages.tmpl.html"></div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEndDate" class="col-sm-3  control-label">Дата кінця</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input id="inputEndDate"  type="text" name="dateEnd" class="form-control"  uib-datepicker-popup="{{vm.format}}"
                                ng-model="vm.project.dateEnd"   uib-datepicker-popup  is-open="vm.popup1.opened" datepicker-options="vm.dateOptions" 
                                close-text="Закрити" clear-text="Очистити" current-text="Сьогодні"  ng-required="false" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-calendar" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <div class="error" ng-if="portfolioForm.$submitted || portfolioForm.dateEnd.$touched" ng-messages="portfolioForm.dateEnd.$error" role="alert">
                            <div ng-messages-include="app/shared/messages/messages.tmpl.html"></div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPriority" class="col-sm-6  control-label">Відображати в першій четвірці</label>
                <div class="col-sm-6">
                    <div class="form-check">
                        <label class="form-check-inline control-label">
                            <input id="inputPriority" type="checkbox" class="form-check-input" ng-model="vm.project.inTop" ng-change="vm.changeTop(vm.project)">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group btn_container">
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit"  ng-click="!portfolioForm.$invalid && vm.goToEdit()" class="btn btn-primary btn-save">Переглянути</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit"  ng-click="!portfolioForm.$invalid && vm.addProject(false)" class="btn btn-primary btn-save">Зберегти чорновик</button>
                    </div>
                    <div class="col-md-4">
                        <button  type="submit" ng-click="!portfolioForm.$invalid && vm.addProject(true)"  class="btn btn-primary btn-save">Опублікувати проект</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


