<div class="devportfolio" ng-controller="devPortfolioListCtrl">
	<div class="top-nav-container">
		<h2 class="h2">Портфоліо</h2>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a ui-sref="home.devportfolio.addportfolio"><span  class="glyphicon glyphicon-duplicate"></span></a>
			</li>
		</ul>
	</div>
	<div class="panel-container">
		<div class="row">
			<div class="col-md-4 col-flex" ng-repeat="project in projects">
				<div class="panel  panel-default panel-admin">
					<div class="panel-heading"><h3>{{project.year}}</h3></div>
					<div class="panel-body">
						<span class="pull-right" uib-rating ng-model="rate" max="1" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"  aria-labelledby="default-rating"></span>
						<h2>{{project.projectName}}</h2>
						<h4>{{project.costumer}}</h4>
					</div>
					<div class="panel-footer" >
						<ul class="nav-menu">
							<li><a ui-sref="home.devportfolio.editportfolio({project: projectJson(project)})"  tooltip-placement="bottom" uib-tooltip="редагувати" tooltip-trigger="focus"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></li>
							<li><a tooltip-placement="bottom" uib-tooltip="переглянути" tooltip-trigger="focus"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></li>
							<li><a tooltip-placement="bottom" uib-tooltip="опоблікувати" tooltip-trigger="focus"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>