<div class="add-review"  ng-controller="addReviewCtrl">
    <div class="top-nav-container">
        <h2 class="h2">Відгуки</h2>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ui-sref="home.reviews.list" tooltip-placement="bottom" uib-tooltip="повернутися до списку відгуків" tooltip-trigger="focus" ><span  class="glyphicon glyphicon-arrow-left"></span></a>
            </li>
        </ul>
    </div>
    <div class="form-container">
        <form id="formValidate" class="form-horizontal admin-form" name="reviewForm" role="form" ng-submit="addReview()" novalidate>
            <div class="form-group">
                <label for="inputName" class="col-sm-3  control-label">Ім'я</label>
                <div class="col-sm-9">
                    <input   type="text" name="fullName" ng-model="review.name"  class="form-control" id="inputName" ng-maxlength="50" ng-required="true">
                    <div role="alert">
                        <span   class="error" ng-show="reviewForm.$submitted || reviewForm.fullName.$touched">
                            <span  ng-show="reviewForm.fullName.$error.required">Це поле є обов'язкове</span>
                            <span  ng-show="reviewForm.fullName.$error.maxlength">Ви ввели занадто велике повідомлення</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group text-left">
                <label for="inputJobPosition" class="col-sm-3   control-label">Позиція</label>
                <div class="col-sm-9">
                    <span class="arrow"></span>
                    <select id="inputJobPosition" name="jobPosition" ng-model="review.jobPositionId"  class="form-control" ng-required="true">
                        <option value="">none</option>
                        <option ng-repeat="jobPosition in jobPositions" ng-selected="vacancy.jobPositionId" ng-value="jobPosition.id">{{jobPosition.jobName}}</option>
                    </select>
                    <div role="alert">
                        <span   class="error" ng-show="reviewForm.$submitted || reviewForm.jobPosition.$touched">
                            <span  ng-show="reviewForm.jobPosition.$error.required">Це поле є обов'язкове</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputProject" class="col-sm-3  control-label">Проект</label>
                <div class="col-sm-9">
                    <span class="arrow"></span>
                    <select id="inputProject" name="projectName" ng-model="review.projectId"   class="form-control" ng-required="true">
                        <option value="">none</option>
                        <option ng-repeat="project in projects"  ng-selected="review.projectId" value="project.id">{{project.projectName}}</option>
                    </select>
                    <div role="alert">
                        <span   class="error" ng-show="reviewForm.$submitted || reviewForm.projectName.$touched">
                            <span  ng-show="reviewForm.projectName.$error.required">Це поле є обов'язкове</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">
                <label for="inputPhoto" class="col-sm-3  control-label">Фото</label>
                <div class="col-sm-9">
                    <input id="inputPhoto"   class="file" type="file" name="photo" ng-model="review.photo" file-reader  valid-file  valid-file-type="['image/png','image/jpeg','image/gif']"  valid-file-size = "10000" >
                    <span class="custom-file-control" >{{review.photo.name ? review.photo.name: "Завантажити фото" }}</span>
                    <div role="alert">
                        <span   class="error" ng-show="reviewForm.$submitted || reviewForm.photo.$touched">
                            <span  ng-show="reviewForm.photo.$error.validFile">Це поле є обов'язкове</span>
                            <span  ng-show="reviewForm.photo.$error.validFileType">Невірний формат файлу</span>
                            <span  ng-show="reviewForm.photo.$error.validFileSize">Занадто великий файл</span>
                        </span>
                    </div>
                </div>
            </div>-->
                   <div class="form-group">
                <label for="inputSitePhoto" class="col-sm-3  control-label">Фото</label>
                <div class="col-sm-9">
									<div class="col-flex">
										<span class="btn-file">
		                        			<span class="glyphicon glyphicon-plus"></span>
												   	<input class="file" ngf-select type="file"  name="gallery1" ng-model="sitePhoto">
		                    			</span>
										
									</div>
									  <div ngf-drop ng-model="sitePhoto" ngf-pattern="image/*"  class="cropArea">
            								<img-crop image="sitePhoto  | ngfDataUrl"  
												result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
											</img-crop>
        								</div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">Відгук</label>
                <div class="col-sm-9">
                    <trix-editor  angular-trix name="description" ng-model="review.description" class="trix-content" ng-maxlength="250"  ng-required="true"></trix-editor>
                    <div role="alert">
                        <span   class="error" ng-show="reviewForm.$submitted || reviewForm.description.$touched">
                            <span  ng-show="reviewForm.description.$error.required">Це поле є обов'язкове</span>
                            <span  ng-show="reviewForm.description.$error.maxlength">Ви ввели занадто велике повідомлення</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit"  id="sendBtn" class="btn btn-primary btn-save">Зберегти чорновик</button>
                </div>
            </div>
        </form>
    </div>
</div>