<div   ng-controller="addDevPortfolioCtrl">
    <div class="top-nav-container">
        <h2 class="h2">Портфоліо</h2>
        <ul class="nav navbar-nav navbar-right">
			<li>
				<a ui-sref="home.devportfolio.list" tooltip-placement="bottom" uib-tooltip="повернутися до списку проектів" tooltip-trigger="focus"><span  class="glyphicon glyphicon-arrow-left"></span></a>
			</li>
		</ul>
    </div>
    <div class="form-container ">
        <form class="form-horizontal admin-form" method="POST" enctype="multipart/form-data"  name="portfolioForm" role="form" ng-submit="addProject()" novalidate>
            <div class="form-group ">
                <input   type="hidden" name="id"  ng-model="project.id"   id="inpuId">
            </div>
            <div class="form-group">
                <label for="inputProjectName" class="col-sm-3   control-label">Назва</label>
                <div class="col-sm-9">
                    <input   type="text" name="projectName"  ng-model="project.name"  class="form-control" id="inputProjectName" ng-maxlength="50" ng-required="true">
                    <div role="alert">
                        <span   class="error" ng-show="portfolioForm.$submitted || portfolioForm.projectName.$touched">
                            <span  ng-show="portfolioForm.projectName.$error.required">Це поле є обов'язкове</span>
                            <span  ng-show="portfolioForm.projectName.$error.maxlength">Ви ввели занадто велике повідомлення</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCustomer" class="col-sm-3  control-label">Клієнт</label>
                <div class="col-sm-9">
                    <input   type="text" name="customer"   ng-model="project.customer"  class="form-control" id="inputCustomer" ng-maxlength="50" ng-required="true">
                    <div role="alert">
                        <span   class="error" ng-show="portfolioForm.$submitted  || portfolioForm.customer.$touched">
                            <span  ng-show="portfolioForm.customer.$error.required">Це поле є обов'язкове</span>
                            <span  ng-show="portfolioForm.customer.$error.maxlength">Ви ввели занадто велике повідомлення</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputSitePhoto" class="col-sm-3  control-label">Зображення сайту</label>
                <div class="col-sm-9">
                    <input id="inputSitePhoto"  class="file" type="file" name="sitePhoto"  ng-model="photo.sitePhoto" file-reader
                           valid-file  valid-file-type="['image/png','image/jpeg','image/gif']"  valid-file-size = "1000000">
                    <span class="custom-file-control" >{{photo.sitePhoto ? photo.sitePhoto.name: "Завантажити фото" }}</span>
                    <div role="alert">
                        <span   class="error" ng-if="portfolioForm.$submitted  || portfolioForm.sitePhoto.$touched">
                            <span  ng-show="portfolioForm.sitePhoto.$error.validFile">Це поле є обов'язкове</span>
                            <span  ng-show="portfolioForm.sitePhoto.$error.validFileType">Невірний формат файлу</span>
                            <span  ng-show="portfolioForm.sitePhoto.$error.validFileSize">Занадто великий файл</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPagePhoto" class="col-sm-3  control-label">Зображення сторінки</label>
                <div class="col-sm-9">
                    <input  id="inputPagePhoto" class="file" type="file" name="pagePhoto" ng-model="photo.pagePhoto" 
                             valid-file  valid-file-type="['image/png','image/jpeg','image/gif']"  valid-file-size = "1000000">
                    <span class="custom-file-control" >{{photo.pagePhoto ? photo.pagePhoto.name : "Завантажити фото" }}</span>
                    <div role="alert">
                        <span   class="error" ng-if="portfolioForm.$submitted  || portfolioForm.pagePhoto.$touched">
                            <span  ng-show="portfolioForm.pagePhoto.$error.validFile">Це поле є обов'язкове</span>
                            <span  ng-show="portfolioForm.pagePhoto.$error.validFileType">Невірний формат файлу</span>
                            <span  ng-show="portfolioForm.pagePhoto.$error.validFileSize">Занадто великий файл</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label" >Опис</label>
                <div class="col-sm-9">
                    <trix-editor  name="description"  angular-trix ng-model="project.description" class="trix-content" ng-maxlength="250" ng-required="true"></trix-editor>
                    <div role="alert">
                        <span   class="error" ng-show="portfolioForm.$submitted || portfolioForm.description.$touched">
                            <span  ng-show="portfolioForm.description.$error.required">Це поле є обов'язкове</span>
                            <span  ng-show="portfolioForm.description.$error.maxlength">Ви ввели занадто велике повідомлення</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputStartDate" class="col-sm-3  control-label">Дата початку</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input id="inputStartDate" type="text" name="startDate"  class="form-control"  uib-datepicker-popup="{{format}}"
                                ng-model="project.dateRegist" uib-datepicker-popup   is-open="popup2.opened" datepicker-options="dateOptions"
                                close-text="Закрити" clear-text="Очистити" current-text="Сьогодні"  ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-required="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-calendar" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <div role="alert">
                            <span   class="error" ng-show="portfolioForm.$submitted || portfolioForm.startDate.$touched">
                                <span  ng-show="portfolioForm.startDate.$error.required">Це поле є обов'язкове</span>
                                <span  ng-show="portfolioForm.startDate.$error.date">Введіть правильний формат</span>
                            </span>
                        </div>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEndDate" class="col-sm-3  control-label">Дата кінця</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input id="inputEndDate" type="text" name="endDate" class="form-control"  uib-datepicker-popup="{{format}}"
                                ng-model="project.endDate" uib-datepicker-popup  is-open="popup1.opened" datepicker-options="dateOptions"
                                close-text="Закрити" clear-text="Очистити" current-text="Сьогодні"  ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-calendar" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <div role="alert">
                            <span   class="error" ng-show="portfolioForm.$submitted || portfolioForm.endDate.$touched">
                                <span  ng-show="portfolioForm.endDate.$error.date">Введіть правильний формат</span>
                            </span>
                        </div>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPriority" class="col-sm-6  control-label">Відображати в першій четвірці</label>
                <div class="col-sm-6">
                    <div class="form-check">
                        <label class="form-check-inline control-label">
                            <input id="inputPriority" class="form-check-input" ng-model="priority" type="checkbox">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group btn_container">
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit"  class="btn btn-primary btn-save">Переглянути</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit"  class="btn btn-primary btn-save">Зберегти чорновик</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="addImage(2)";  class="btn btn-primary btn-save">Опублікувати проект</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


