<div class="top-nav-container toolbar-menu">
    <ul class="top-nav ">
        <li>
            <div class="btn-container">
                <span class="tool-name"> Пріоритетність</span>
                <span  class="prior-icon icon"></span>
            </div>
        </li>
        <li>
            <div class="btn-container">
                <span class="tool-name">Опублікувати/Приховати</span>
                <span  class="hide-icon icon"></span>
            </div>
        </li>
        <li>
            <div class="btn-container">
                <span class="tool-name">Архівувати</span>
                <span  class="arh-icon icon"></span>
            </div>
        </li>
        <li>
            <div class="btn-container">
                <span class="tool-name">Прев'ю</span>
                <span  class="prev-icon icon"></span>
            </div>
        </li>
    </ul>
</div>