<div class="add-review" ng-app="addReviewModule" ng-controller="addReviewCtrl">
    <h1 class="title text-center">Відгук</h1>
    <div class="form-container">
        <form class="form-horizontal" name="form" role="form" ng-submit="addReview()"  id="formValidate">
            <div class="form-group">
                <label for="inputName" class="col-sm-3  control-label">Ім'я</label>
                <div class="col-sm-9">
                    <input   type="text" name="name" ng-model="newReview.name"  class="form-control" id="inputName" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhoto" class="col-sm-3  control-label">Фото</label>
                <div class="col-sm-9">
                    <input   class="file" type="file" name="photo" ng-model="newReview.photo"  id="inputPhoto">
                    <span class="custom-file-control"></span>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">Відгук</label>
                <div class="col-sm-9">
                    <trix-editor  angular-trix ng-model="newReview.review" class="trix-content" required></trix-editor>
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <button type="submit"  id="sendBtn" class="btn btn-primary btn-save">Зберегти чорновик</button>
                </div>
            </div>
        </form>
    </div>
</div>