<div class="top-nav-container navbar-fixed-top">
    <ul class="top-nav ">
        <li>
            <span>Пріоритетність</span>
            <div class="btn-container">
                <div class="btn-name">
                    <!--<span>Пріоритетність</span>-->
                </div>
                <a href="#">
                    <img src="../img/icon-prior.png" alt="">
                </a>
            </div>
        </li>
        <li>
            <div class="btn-container">
                <div class="btn-name">
                    <span>Опублікувати/Приховати</span>
                </div>
                <a href="#">
                    <img src="../img/icon-hide.png" alt="">
                </a>
            </div>
        </li>
        <li>
            <div class="btn-container">
                <div class="btn-name">
                    <span>Архівувати</span>
                </div>
                <a href="#">
                    <img src="../img/icon-arh.png" alt="">
                </a>
            </div>
        </li>
        <li>
            <div class="btn-container">
                <div class="btn-name">
                    <span>Прев'ю</span>
                </div>
                <a href="#">
                    <img src="../img/icon-prev.png" alt="">
                </a>
            </div>
        </li>
    </ul>
</div>