<div class="top-nav-container">
    <ul class="top-nav">
        <li>
            <div class="btn-container">
                <div class="btn-name">
                    <div class="btn-name-text">
                        <span>Пріоритетність</span>
                    </div>
                </div>
                <a href="#">
                    <img src="../img/icon-prior.png" alt="">
                </a>
            </div>
        </li>
        <li>
            <div class="btn-container">
                <div class="btn-name">
                    <div class="btn-name-text">
                        <span>Опублікувати/Приховати</span>
                    </div>
                </div>
                <a href="#">
                    <img src="../img/icon-hide.png" alt="">
                </a>
            </div>
        </li>
        <li>
            <div class="btn-container">
                <div class="btn-name">
                    <div class="btn-name-text">
                        <span>Архівувати</span>
                    </div>
                </div>
                <a href="#">
                    <img src="../img/icon-arh.png" alt="">
                </a>
            </div>
        </li>
        <li>
            <div class="btn-container">
                <div class="btn-name">
                    <div class="btn-name-text">
                        <span>Прев'ю</span>
                    </div>
                </div>
                <a href="#">
                    <img src="../img/icon-prev.png" alt="">
                </a>
            </div>
        </li>
    </ul>
</div>