<div class="devportfolio text-center">
    <toolbar></toolbar>
    <div class="container-fluid">
    	<h2 class="add"><a ui-sref="home.addportfolioint">Створити проект</a></h2>
    	<h2 class="h2">Портфоліо</h2>
    <!--<p>This page demonstrates <span class="text-danger">nested</span> views.</p>-->
    <div class="container-fluid" >
	    <div class="row" >
	    	<div class="col-md-4" ng-repeat="project in projects">
	    		<h3>{{project.year}}</h3>
	    		<div class="white_div_portfolio">
	    			<span class="plustriangl" ng-if="project.isDraft"><img src="img/draft.png" alt="draft"></span><!--DRAFT-->
					<span class="plusstar" ng-if="project.isNew"><img src="img/new.png" alt="new"></span><!--DRAFT-->
	    			<h2>{{project.name}}</h2>
	    			<h4>{{project.company}}</h4>
	    			<button class="btnedit">Редагувати</button><button class="btnreview">Переглянути</button>
	    		</div>
	    	</div>
	    </div>
    </div>
	</div>
</div>