*{
  outline:none !important;
}

body, html{
  background-color: $body-bg;
  height: 100%;
  font-family: "Proxima";
}

.main-view{
  height: 100%;
}

.page-wrapper{
  position: relative;
  background-color: $gray-base-color;
  padding: 30px 15px;
  padding-top: 70px;
  overflow: auto;
  margin-top: $navbar-top-height;
}

.close {
  margin-bottom: 15px;
  float: right;
  font-size: 22px;
  color: black;
}

@media(min-width: 768px){
  .page-wrapper {
       margin: 0 0 0 $sidebar-width;
  }
}

.loader{
  background: url("../assets/img/loader.svg") no-repeat center;
  background-attachment: scroll;
  z-index: 1000;
  position: fixed;
  top:0;
  bottom: 0;
  left:$sidebar-width;
  right: 0;
}

.btn-custom {
  border-radius: 0;
}

.modal-content{
  border-radius: 0;
}

.modal-message{
  font-size: 22px;
  text-align: center;
}