@font-face {
    font-family: 'Proxima';
    src: url('../assets/fonts/ProximaNova/Proxima Nova Regular.otf')  format('opentype');
     font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Proxima';
    src: url('../assets/fonts/ProximaNova/Proxima Nova Bold.otf')  format('opentype');
    font-style: normal;
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Proxima';
    src: url('../assets/fonts/ProximaNova/Proxima Nova Semibold.otf')  format('opentype');
    font-style: normal;
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Proxima Nova Thin Italic';
    src: url('../assets/fonts/ProximaNova/Proxima Nova Thin Italic.otf')  format('opentype');
     font-style: italic;
    font-weight: normal;
  }