.panel-container{
  //margin-top: 70px;

  .row{
    display: flex;
    align-self: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .col-flex{
    display: flex;
  }
}

.form-container{
  .col-flex{
    display: flex;
    justify-content: space-between;
  }
}