// NAVBAR

.navbar{
  border: none;
  margin-bottom: 0;
  border-radius: 0;
  position: relative;
}

.navbar-default{
  background-color: $navbar-bg;


  h1{
    margin: 0;
    background-color: $biruza-base-color;
    float: left;
    .navbar-brand{
      height: $navbar-brand-height;
      min-width: $navbar-brand-width;
      background: url("../img/logo.png") no-repeat center;
      background-size: 80%;
    }
  }

  .account{
    font-size: 16px;
    height:$navbar-top-height;
    vertical-align: middle;
    padding:0 10px;
    margin: 0;
    display: flex;
    align-items: center;

    .user-name{
      display: inline-block;
    }

    .photo{
      margin: 5px;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      height: $navbar-top-height - 10px;
      width: $navbar-top-height - 10px; ;
      img{
        height: auto;
        width: 100%;
        display: inline-block;
      }
    }
  }
}

.navbar-default.sidebar {
  position: fixed;
  width: $sidebar-width;
  left: 0;
  bottom: 0;
  top: $navbar-top-height;
  z-index: 1;
  background-color: $sidebar-bg;

  .nav-main {
    margin-top: 15px;
    li {
      a {
        font-size: 18px;
        color: $navbar-link-color;
        position: relative;
      }

      span {
        vertical-align: middle;
        padding: 0 10px;
        display: inline-block;
      }

      a .icon {
        background-size: contain;
        width: 35px;
        height: 35px;
      }

      .arrow {
        background-size: contain;
        background: url("../img/arrow.png") no-repeat center;
        width: 20px;
        height: 35px;
        float: right;
        transform: rotate(180deg);
      }
      .home-icon {
        background: url("../img/home-icon.png") no-repeat;
      }
      .dev-studio-icon {
        background: url("../img/dev-studio-icon.png") no-repeat;
      }
      .internship-icon {
        background: url("../img/internship-icon.png") no-repeat;
      }
    }

    li.active a,
    li.active a:hover,
    a:hover,
    a:focus,
    a:active {
      background-color: $navbar-li-main-bg-hover;
    }

    li.active a,
    li.active a:hover{
      background-color: $navbar-li-main-bg-hover;
      & .arrow{
        transform: rotate(0deg);
      }
    }

    .nav-second{
      li{
        padding: 0;
        margin: 0;

        a{
          font-size: 14px;
          color: $navbar-link-color;
          padding: 5px 10px 5px 45px;
        }

        span{
          display: inline-block;
          margin-left: 9px;
        }
      }

      li.active a,
      li.active a:hover,
      a:hover,
      a:focus,
      a:active{
        color: $navbar-link-color;
      }
    }
  }
}


