header{
	min-height: $header-height;
	margin: 0;
	position: relative;
    background-color: $light-base-color;
    h1 {
		margin: 0;
		background-color: $biruza-base-color;
		min-height: $header-height;
		min-width: $logo-width;
		float: left;
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
	}

    .account {
		float: right;
		font-size: 18px;
		margin-right: 15px;
		margin-top: 9px;

		span {
			margin-top: 50px;
			margin-right: 15px;
			display: block;
			float: left;
		}
		.photo {
			display: inline-block;
			height: 116px;
			width: 116px;
			
			// img {
			// 	width: 100%;
			// 	height: auto;
			// 	position: absolute;
			// 	top: 0;
			// 	left: -25px;
			// }
		}
	}
}

// NAVBAR


.navbar-default {
	background-color: $color-primary-dark-1;




	

	.top-nav-container {
		height: $navbar-height - $navbar-brand-height;
		margin-left: $navbar-left-width + 146px;
	}

	.top-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			margin: 0;
			padding: 0 44px 0 44px;
			display: inline-block;

			.btn-container {
				position: relative;
			}

			.btn-name {
				position: absolute;
				width: 180px;
				left: 50%;
				top: -30px;
			}

			.btn-name-text {
				position: relative;
				width: 180px;
				right: 50%;
				display: flex;
				justify-content: center;
			}

			span {
				font-family: $font-text-1;
				font-size: 14px;
				color: $color-primary-mid-1;
			}

			a {
				padding: 0;
				margin: 0;
				display: block;
				height: $navbar-height - $navbar-brand-height;
				width: 64px;
				position: relative;

				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					display: block;
					max-width: 64px;
					height: auto;
				}
			}
		}

		li.active a,
		li.active a:hover,
		a:hover,
		a:focus,
		a:active {
			background-color: indianred;
		}
	}
}

.navbar-default.sidebar {
	position: absolute;
	width: $navbar-left-width;
	left: 0;
	top: $navbar-height;
	z-index: 1;

	.nav-main {
		margin-top: 12px;
		li {
			margin: 0 0 60px 0;
			a {
				font-family: $font-h-2;
				font-size: 28px;
				color: $color-primary-light-2;
				position: relative;
			}

			span {
				display: inline-block;
				margin-left: 9px;
			}

			.arrow {
				margin-left: 20px;
				position: absolute;
				right: 30px;
				top: 9px;
			}
		}

		li.active a,
		li.active a:hover,
		a:hover,
		a:focus,
		a:active {
			background-color: indianred;
		}

		.nav-second {
			margin: 10px 0 0 70px;
			li {
				padding: 0;
				margin: 0;
				a {
					font-family: $font-text-2;
					font-size: 19px;
					color: $color-primary-light-2;
					padding: 5px 10px;
				}

				span {
					display: inline-block;
					margin-left: 9px;
				}
			}

			li.active a,
			li.active a:hover,
			a:hover,
			a:focus,
			a:active {
				color: $color-primary-mid-1;
				background-color: transparent;
			}
		}
	}
}


