.navbar{
  border: none;
  margin-bottom: 0;
  border-radius: 0;
  position: relative;
  z-index: 1;
}

.navbar-header{
  background-color: $navbar-bg;
  width: 100%;
  overflow: hidden;
.brand-sect{
  h1{
    margin: 0;
    background-color: $biruza-base-color;
    float: left;
    .navbar-brand{
      height: $navbar-brand-height;
      min-width: $navbar-brand-width;
      background: url("../img/logo.png") no-repeat center;
      background-size: 80%;
    }
  }
}

  .account{
    font-size: 16px;
    height:$navbar-top-height;
    vertical-align: middle;
    padding:0 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .user-name{
      display: inline-block;
    }

    .photo{
      margin: 5px;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      height: $navbar-top-height - 10px;
      width: $navbar-top-height - 10px; ;
      img{
        height: auto;
        width: 100%;
        display: inline-block;
      }
    }
  }
}


.navbar-default.sidebar {
  position: fixed;
  margin-top: 2*$navbar-top-height;
  width: 100%;
  z-index: 1;

  background-color: $sidebar-bg;

  .sidebar-nav{
    padding: 25px 0 0 0;
    overflow: hidden;
    margin: 0 0 25px 0;
    border: none;
    position: static;
    ul{
      position: static;
      border: none;
      float: none;
    }

    .dropdown-menu {
      background-color: $sidebar-bg;
    }
  }

  .nav-main {
    margin: 0;


    li> a:focus,
    li> a:active{
      background-color: $navbar-li-main-bg-hover;
      & .arrow{
        transform: rotate(0deg);
      }
    }

    li {
      a {
        font-size: 18px;
        color: $navbar-link-color;
        position: relative;
      }

      span {
        vertical-align: middle;
        padding: 0 10px;
        display: inline-block;
      }

      a .icon {
        background-size: contain;
        width: 35px;
        height: 35px;
      }

      .arrow {
        background-size: contain;
        background: url("../img/arrow.png") no-repeat center;
        width: 20px;
        height: 35px;
        float: right;
        transform: rotate(180deg);
      }
      .home-icon {
        background: url("../img/home-icon.png") no-repeat;
      }
      .dev-studio-icon {
        background: url("../img/dev-studio-icon.png") no-repeat;
      }
      .internship-icon {
        background: url("../img/internship-icon.png") no-repeat;
      }
    }

    li.active>a,
    li.active>a:hover
    {
      & .arrow{
        transform: rotate(0deg);
      }
    }

    a:hover,
    a:focus,
    a:active{
    background-color:$navbar-li-main-bg-hover;}

    .nav-second{
      margin: 0;
      li{
        padding: 0;
        margin: 0;

        a{
          font-size: 14px;
          color: $navbar-link-color;
          padding: 10px 10px 10px 45px;
        }

        span{
          display: inline-block;
          margin-left: 9px;
        }
      }

      li.active a,
      li.active a:hover,
      li.active a:focus,
      a:hover,
      a:focus,
      a:active{
        color: $navbar-link-color;
        background-color: $navbar-li-main-bg-hover;
      }
    }
  }
}

@media(max-width: 768px){
  .brand-sect{
    h1{
      width: 100%;
      .navbar-brand{
        background-size: 80%;
      }
    }
  }
}

@media(min-width: 768px){
  .navbar-default.sidebar{
    top:0;
    bottom: 0;
    margin-top: $navbar-top-height;
    width: $sidebar-width;
  }
}


/*--------*/
.devportfolio{
  border: inherit;
  border-radius: 0;
  padding-top: 50px;
}

.white_div_portfolio{
  width: 100%;
  height: 210px;
  background-color: $light-base-color;
  margin: auto;
  padding-top: 32px;
}
.white_div_portfolio:hover button{
  visibility: visible;
}
h2{
  padding: 10px;
}
.h2{
  color: $blue-base-color;
}
h4{
  color: $biruza-base-color;
  margin-bottom: 32px;
}

.btnedit{
  width: 100px;
  height: 26px;
  color: $black-base-color;
  border-radius: 10px;
  border: 1px solid $brown-light-color;
  background-color: $light-base-color;
  visibility: hidden;
  
}
.btnreview{
  width: 100px;
  height: 26px;
  color: $light-base-color;
  border-radius: 10px;
  border: inherit;
  background-color: $biruza-base-color;
  margin-left: 10px;
  visibility: hidden;
}

.plustriangl{
  padding: 4px;
  position: absolute;
  top: 60px;
  right: 20px;
}

.plusstar{
  padding: 4px;
  position: absolute;
  top: 60px;
  left: 20px;
}

.btnreview:hover{
  background-color: $blue-base-color;
}

.btnedit:hover{
  background-color: $brown-light-color;
}

.add{
  position: absolute;
  top: 60px;
  left: 120px;
  z-index: 1000;
}

.add a {
  color: $dark-base-color;
}

.add::before{
  content: url(/img/add.png);
  position: absolute;
  top: 0;
  left: -60px;
  z-index: 1000;
}