.table_container {
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;


    th {
      font-size: 16px;
    }

    th, td {
      padding: 5px 10px;
      border: 1px solid;
      text-align: center;
      background-color: $light-base-color;
    }

    
  }
}

.trbn{
  width: 100%;
}

.bordernone{
  
}

.bordernone > tbody > tr > td, .bordernone > tfoot > tr > th, .bordernone > tfoot > tr > td{
  border: 1px solid $light-base-color;
  vertical-align: middle;
}

.bordernone .inptext{
  width: 100%;
}

