@import "../../lib/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$gray-base-color: #ebebeb;
$dark-base-color: #2a2d33;
$biruza-base-color: #8cb2d8;
$blue-base-color: #0a6db1;
$light-base-color: ffffff;

$header-height: 135px;
$logo-width: 280px;



// Colors
$color-primary-dark-1: #171d3e;
$color-primary-dark-2: #212955;
$color-primary-mid-1: #0086b5;
$color-primary-mid-2: #d1cfcf;
$color-primary-light-1: #fff;
$color-primary-light-2: #f7c008;

$color-secondary-light-1: #fefdfd;
$color-secondary-mid-1: #0f7492;
$color-secondary-mid-2: #848381;

// Colors
$color-primary-dark-1: #2a2d33;
$color-primary-dark-2: #0a6db1;
$color-primary-mid-1: #8cb2d8;
$color-primary-light-1: #ebebeb;
$color-primary-light-2: #fff;

$color-secondary-mid-1: #666769;



// Fonts
$font-text-1: ProximaNovaRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-text-2: ProximaNovaThin, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-h-1: ProximaNovaBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-h-2: ProximaNovaSemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;

$navbar-brand-height: 135px;
$navbar-left-width: 280px;
