body, html{
  background-color: $body-bg;
  height: 100%;
}

.main-view{
  height: 100%;
}

.page-wrapper{
  position: relative;
  background-color: $gray-base-color;
  padding: 15px 30px;
  min-height: 900px;
  overflow: auto;
  margin-top: $navbar-top-height;
}

@media(min-width: 768px){
  .page-wrapper {
       margin: 0 0 0 230px;
  }
}